<!doctype html>
<!--



$$\      $$\                                                     $$\       $$\           $$\
$$ | $\  $$ |                                                    $$ |      \__|          \__|
$$ |$$$\ $$ | $$$$$$\         $$$$$$\   $$$$$$\   $$$$$$\        $$$$$$$\  $$\  $$$$$$\  $$\ $$$$$$$\   $$$$$$\
$$ $$ $$\$$ |$$  __$$\        \____$$\ $$  __$$\ $$  __$$\       $$  __$$\ $$ |$$  __$$\ $$ |$$  __$$\ $$  __$$\
$$$$  _$$$$ |$$$$$$$$ |       $$$$$$$ |$$ |  \__|$$$$$$$$ |      $$ |  $$ |$$ |$$ |  \__|$$ |$$ |  $$ |$$ /  $$ |
$$$  / \$$$ |$$   ____|      $$  __$$ |$$ |      $$   ____|      $$ |  $$ |$$ |$$ |      $$ |$$ |  $$ |$$ |  $$ |
$$  /   \$$ |\$$$$$$$\       \$$$$$$$ |$$ |      \$$$$$$$\       $$ |  $$ |$$ |$$ |      $$ |$$ |  $$ |\$$$$$$$ |
\__/     \__| \_______|       \_______|\__|       \_______|      \__|  \__|\__|\__|      \__|\__|  \__| \____$$ |
                                                                                                       $$\   $$ |
                                                                                                       \$$$$$$  |
                                                                                                        \______/
-->


<!--[if lt IE 7 ]><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie6" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie7" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie8" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" lang="en-US"><!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <title>codersontheroad.org</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml">

    <!-- Favicons -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/img/favicon.png">
    <link rel="shortcut icon" href="http://codersontheroad/img/favicon.ico" type="image/x-icon">
    <meta name="msapplication-TileImage" content="/img/favicon.png">
    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic|Oswald:300,400,700">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/style.css">

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="{{ site.data.global.url }}/js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="http://codersontheroad.org">codersontheroad</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="http://codersontheroad.org/#about">WHO WE ARE</a>
                    </li>
                  <!--   <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="http://codersontheroad.org/#portfolio">Our Projects</a>
                    </li>
                    <li class="active">
                        <a class="page-scroll" href="#http://codersontheroad.org/#contact">Help Us!</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


